html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}

/* Footer Stye */
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #c1c9cc;
}

/* Map styles */
/* #Brooklyn {
  fill: #c1c9cc !important;
}

#Staten_Island {
  fill: #c1c9cc !important;
}

#Queens {
  fill: #c1c9cc !important;
}

#Manhattan {
  fill: #c1c9cc !important;
}

#Brooklyn {
  fill: #c1c9cc !important;
}

#Bronx {
  fill: #c1c9cc !important;
} */

#Staten_Island:hover {
  fill: lightgreen !important;
  transition: all ease 0.3s;
}

#Queens:hover {
  fill: lightgreen !important;
  transition: all ease 0.3s;
}

#Manhattan:hover {
  fill: lightgreen !important;
  transition: all ease 0.3s;
}

#Brooklyn:hover {
  fill: lightgreen !important;
  transition: all ease 0.3s;
}

#Bronx:hover {
  fill: lightgreen !important;
  transition: all ease 0.3s;
}
